.song-img:hover {
    cursor: pointer;
    width: 125px;
    height: 125px;
    transition: width 2s, height 2s;
}

.menu-button:hover {
    background-color: #5e5e5e;
    color: white;
    transition: background-color 2s, color 2s;
}

body:hover {
    animation: background-change 2s linear infinite;
}

@keyframes background-change {
    0% {
        background-color: #A9A9A9;
    }

    25% {
        background-color: #878787;
    }

    50% {
        background-color: #383838;
    }

    100% {
        background-color: #A9A9A9;
    }
}