body {
    font-family: monospace;
    color: darkturquoise;
}

.main_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_menu {
    display: flex;
    justify-content: center;
}

.flex_menu div {
    background-color: #BBBBBB;
    padding: 10px;
    margin: 10px;
    max-width: 150px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.footer {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}